services:
  postgres:
    image: postgres:15
    container_name: bibliotech-postgres
    environment:
      POSTGRES_DB: ${DB_NAME:-bibliotech}
      POSTGRES_USER: ${DB_USER:-bibliotech}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-bibliotech}
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init_data.sql:/docker-entrypoint-initdb.d/init_data.sql
    ports:
      - "${DB_PORT:-5432}:5432"

  mailhog:
    image: mailhog/mailhog
    container_name: bibliotech-mailhog
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bibliotech-api
    environment:
      DB_NAME: ${DB_NAME:-bibliotech}
      DB_USER: ${DB_USER:-bibliotech}
      DB_PASSWORD: ${DB_PASSWORD:-bibliotech}
      DB_PORT: ${DB_PORT:-5432}
      JDBC_URL: ${JDBC_URL}
      DB_SCHEMA_NAME: ${DB_SCHEMA_NAME}
      API_PORT: ${API_PORT:-8090}
      EMAIL_SMTP: ${EMAIL_SMTP}
      SENHA_EMAIL_SMTP: ${SENHA_EMAIL_SMTP}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_MAIL_PORT: ${SPRING_MAIL_PORT}
      MANAGEMENT_HEALTH_MAIL_ENABLED: ${MANAGEMENT_HEALTH_MAIL_ENABLED}
    ports:
      - "${API_PORT:-8090}:8090"
    depends_on:
      - postgres
      - mailhog

volumes:
  pg_data:
    driver: local
  pgadmin_data:
    driver: local